body {
    margin: 0;
    color: #5eacff;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 3cap;
}

#hero {
    background-image: url("images/galaxy.jpg");
    background-size: cover;
    padding: 50px 0 800px 0;
}

#main-logo {
    width: 300px;
    border: 3px solid #212b36;
    border-radius: 10px;
}

.btn {
    padding: 6px 12px;
    background: rgb(240, 255, 154);
    border: none;
    font-family: 'Orbitron', sans-serif;
    color: #032548;
    font-weight: 800;

}

.underline {
    border-bottom: 4px solid rgb(255, 255, 0);
}
   